:root{
    --brand-color: #434455
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--brand-color);
    background-color: var(--white, #FFFFFF)
}
.logo{
color: var(--navyblue, #4d5ae5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}
.span{
    color: #2e2f42;
}
.list{
    list-style: none
}
.link{
text-decoration: none;
}
.pages{
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing:  0.02em;
}
.link:hover{
color: var(--ocean, #404BBF);
}
.link:active{
    color: var(--ocean, #404BBF);
    text-decoration: underline;
}
.address{
color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0.32px;
text-decoration: none;
}
.address:hover{
color: var(--ocean, #404BBF);
}
.address:focus{
    color: var(--ocean, #404BBF);
    text-decoration: underline;
}
.h1{
    color: var(--white, #FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
background: var(--navyblue, #2E2F42);
1x
}
.button-order{
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
background: var(--iris, #4D5AE5);
align: center;
cursor: pointer;
}
.button-order:hover{
background: var(--ocean, #404BBF);
}
.value{
    color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.text{
    color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}
.h2{
    color: var(--navyblue, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.team{
    color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.position{
    color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}
.button-all{
    color: var(--iris, #4D5AE5);
    background-color: var(--cloud, #F4F4FD);
    border: 1px solid var(--cornflower);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    align: center;
cursor: pointer;
}
.button-all:hover{
color: var(--white, #FFF);
background: var(--ocean, #404BBF);
}
.button-website{
color: var(--iris, #4D5AE5);
background-color: var(--cloud, #F4F4FD);
border: 1px solid var(--cornflower);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
align: center;
cursor: pointer;
}
.button-website:hover{
    color: var(--white, #FFF);
    background: var(--ocean, #404BBF);
}
.button-app{
color: var(--iris, #4D5AE5);
background-color: var(--cloud, #F4F4FD);
border: 1px solid var(--cornflower);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
align: center;
cursor: pointer;
}
.button-app:hover{
    color: var(--white, #FFF);
    background: var(--ocean, #404BBF);
}
.button-designe{
color: var(--iris, #4D5AE5);
background-color: var(--cloud, #F4F4FD);
border: 1px solid var(--cornflower);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
align: center;
cursor: pointer;
}
.button-designe:hover{
    color: var(--white, #FFF);
    background: var(--ocean, #404BBF);
}
.button-marketing{
color: var(--iris, #4D5AE5);
background-color: var(--cloud, #F4F4FD);
border: 1px solid var(--cornflower);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
align: center;
cursor: pointer;
}
.button-marketing:hover{
    color: var(--white, #FFF);
    background: var(--ocean, #404BBF);   
}
.h3{
color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.caption{
color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}
.footer{
    background-color: var(--navyblue, #2E2F42);
}
.footer-logo{
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-web{
color: var(--iris, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.footer-text{
color: var(--cloud, #F4F4FD);
font-family: Roboto;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}